@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700);
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
  flex-direction: column;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.open-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Fira Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #000;
}

.title h1 {
  font-weight: 400;
  color: #54d1db;
  text-align: center;
  letter-spacing: 2px;
  margin: 10px;
  font-size: 3em;
}

.title p {
  color: #fff;
  text-align: center;
}

.header {

}

.header__name {
  font-weight: 900 !important;
  font-size: 4em;
}
.header__description {
  font-size: 2em;
  font-weight: 200;
}

.aof {
  margin: auto;
  text-align: center;
}


.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.aof__card {
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
  position: relative;
  text-align: center;
  border: 1.2px solid #FFAB00;
  box-shadow: -1px 15px 30px -12px black;
  margin: 60px 60px;
  z-index: 99;
  transform-style: preserve-3d;
  transition: border-color 0.2s ease;
}

.aof__card:hover {
  border-color: #54d1db;
}

.aof__card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.aof__card__image-bg img {
  width: 230px;
  position: absolute;
  top: 20px;
  left: 35px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.aof__card:hover .aof__card__image-bg img {
    transform: scale(1.5);
    opacity: 0.6;
}

.aof__card__name {
  font-size: 28px;
  letter-spacing: 2px;
  color: #FFAB00;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
  z-index: 101;
  transition: transform 0.2s ease 0.2s, color 0.2s ease  ;
}

.aof__card:hover .aof__card__name {
    transform: translateZ(30px);

    color: #54d1db;
}

.aof__card__description {
  padding: 20px;
  margin-bottom: 10px;
  color: #fff;
  transition: transform 0.2s ease 0.4s;
}
.aof__card:hover .aof__card__description {
    transform: translateZ(50px);

}


.card {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 520px;
  border-radius: 10px;
  border: 1.2px solid #54d1db;
}
.card .row {
  height: 50px;
  width: 100%;
  border-bottom: 1.2px solid #54d1db;
}
.card .row:first-child label:after {
  border-top-left-radius: 10px;
}
.card .row:last-child label:after {
  border-bottom-left-radius: 10px;
}
.card .row:last-child {
  border: none;
}

.row .info {
  height: 100%;
}
.row .info label {
  display: inline-block;
  letter-spacing: 2px;
  color: #fff;
  width: 160px;
  height: 100%;
  padding-left: 20px;
  line-height: 3.3;
}
.row .info input {
  display: inline-block;
  width: 330px;
  height: 100%;
  background-color: transparent;
  font-family: "Fira Mono";
  font-weight: 500;
  border: none;
  outline: none;
  color: #0086a0;
  letter-spacing: 2px;
  padding-left: 10px;
  float: right;
}
.row .info input::placeholder {
  font-family: "Fira Mono";
  color: #0086a0;
}
.row .info input:focus + label:after {
  width: 100%;
}

label {
  position: relative;
  z-index: 9;
}

label::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  right: 0;
  background-color: rgba(84, 209, 219, 0.5);
  transition: all 0.3s ease;
  z-index: -1;
}

#cardnumber,
#cardnumber::placeholder {
  letter-spacing: 2px;
}

.button {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  width: 520px;
  background-color: transparent;
  border: solid 1.2px #54d1db;
  color: #eee;
  padding: 18px;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: rgba(84, 209, 219, 0.5);
  cursor: pointer;
}
.button:focus {
  background-color: rgba(84, 209, 219, 0.75);
  cursor: pointer;
}
.button:active {
  background-color: #54d1db;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  flex-direction: row;
  padding: 0 3em;
}

.footer__contact {
  width: 30%;
  display: inline-block;
}

.footer__contact a {
  color: white;
}

.footer__details {
  width: 30%;
  display: inline-block;
}

.footer__details p {
  color: #fff;
  text-align: right;
}
